In [44]:
import pandas as pd 
import numpy as np

df_us_20208 = pd.read_csv('Resources/us202208.csv')

df_us_20208

,D1_A,D1_G,Q1,VAXANY,VAXCOUNT,VAXBRAND,VAXJJ,newv3_1,newv3_2,newv3_3,...,D7_1,D8,D9,D9b,D13,D14,D15,wt,wt_multi,wt_parent0
0,42,2,1,2,.,.,.,.,.,.,...,4,3,1,.,1,2,4,0.50954,0.60390,.
1,30,1,1,1,3,1,1,1,.,.,...,1,2,1,.,2,2,3,0.90294,1.07015,.
2,32,1,1,1,2,4,2,1,.,1,...,3,2,1,.,2,2,7,0.50072,0.59344,0.40675
3,30,2,1,1,2,1,2,.,.,.,...,1,1,1,.,1,1,7,0.60841,0.72108,.
4,33,2,1,1,2,1,2,1,1,1,...,1,2,1,.,1,2,6,0.54509,0.64604,0.27592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,1,2,.,.,.,.,.,.,...,.,1,4,.,2,2,4,0.25909,0.30706,.
696,21,1,1,1,1,2,.,1,1,1,...,.,1,1,.,2,2,7,0.29503,0.34967,0.25
697,31,1,1,2,.,.,.,.,.,.,...,4,3,2,.,2,2,5,0.80229,0.95087,.
698,66,2,1,1,3,1,2,1,1,1,...,3,2,7,.,2,2,5,2.98312,3.53555,.
699,75,1,1,1,4,2,2,.,.,1,...,5,1,7,.,2,2,5,2.06601,2.44860,.

In [45]:
# # Rename columns needed.
df_us_20208_summary = df_us_20208.rename(columns={
                                        "D1_A": "AGE",
                                        "D1_G": "GENDER",
                                        "VAXANY": "VACCINE STATUS",
                                        "L7": "TRUST",
                                        "Xp6": "POS-CASES",
                                        "CVAX4": "TRUST GOV",
                                        "D0": "HEALTHY",
                                        "D2": "STATE",
                                        "D3": "RURAL",
                                        "D4": "INCOME",
                                        "D5_E": "HISPANIC",
                                        "D5_M": "RACE",
                                        "D6": "RELIGION",
                                        "D6_E": "RELIGIOUS",
                                        "D7": "HEALTH COVERAGE",
                                        "D8": "POLITICS",
                                        "D9": "WORK STATUS",
                                        "D13": "ILLNESS",
                                        "D15": "EDUCATION",
                                         })

df_us_20208_summary

,AGE,GENDER,Q1,VACCINE STATUS,VAXCOUNT,VAXBRAND,VAXJJ,newv3_1,newv3_2,newv3_3,...,D7_1,POLITICS,WORK STATUS,D9b,ILLNESS,D14,EDUCATION,wt,wt_multi,wt_parent0
0,42,2,1,2,.,.,.,.,.,.,...,4,3,1,.,1,2,4,0.50954,0.60390,.
1,30,1,1,1,3,1,1,1,.,.,...,1,2,1,.,2,2,3,0.90294,1.07015,.
2,32,1,1,1,2,4,2,1,.,1,...,3,2,1,.,2,2,7,0.50072,0.59344,0.40675
3,30,2,1,1,2,1,2,.,.,.,...,1,1,1,.,1,1,7,0.60841,0.72108,.
4,33,2,1,1,2,1,2,1,1,1,...,1,2,1,.,1,2,6,0.54509,0.64604,0.27592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,1,2,.,.,.,.,.,.,...,.,1,4,.,2,2,4,0.25909,0.30706,.
696,21,1,1,1,1,2,.,1,1,1,...,.,1,1,.,2,2,7,0.29503,0.34967,0.25
697,31,1,1,2,.,.,.,.,.,.,...,4,3,2,.,2,2,5,0.80229,0.95087,.
698,66,2,1,1,3,1,2,1,1,1,...,3,2,7,.,2,2,5,2.98312,3.53555,.
699,75,1,1,1,4,2,2,.,.,1,...,5,1,7,.,2,2,5,2.06601,2.44860,.

In [46]:
# Organize the data to only show the columns needed.
df_organized_us_20208 = df_us_20208_summary[["AGE", "GENDER", "VACCINE STATUS", "TRUST", "POS-CASES", "TRUST GOV", "HEALTHY", "STATE", "RURAL", "INCOME", "HISPANIC", "RACE", "RELIGION", "RELIGIOUS", "HEALTH COVERAGE", "POLITICS", "WORK STATUS", "ILLNESS", "EDUCATION"]]
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,2,2,5,2,.,4,26,1,2,2,.,12,.,1,3,1,1,4
1,30,1,1,5,1,.,2,33,2,7,2,.,11,.,1,2,1,2,3
2,32,1,1,4,1,2,1,33,2,7,2,.,7,.,1,2,1,2,7
3,30,2,1,5,2,.,3,15,2,7,2,.,1,1,1,1,1,1,7
4,33,2,1,5,.,1,1,33,1,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,2,2,3,.,.,2,5,2,8,2,.,12,.,2,1,4,2,4
696,21,1,1,4,1,1,2,33,2,2,2,.,2,1,2,1,1,2,7
697,31,1,2,1,.,.,1,44,2,3,2,.,12,.,1,3,2,2,5
698,66,2,1,4,1,.,1,50,1,5,2,.,1,2,1,2,7,2,5
699,75,1,1,1,.,.,2,10,2,4,2,.,2,2,1,1,7,2,5

In [47]:
# Dictionary mapping numerical values to gender labels
numerical_to_gender = {1: 'Male', 2: 'Female', 3: 'Other'}

# Replace numerical values with gender labels in the GENDER column
df_organized_us_20208.loc[:, 'GENDER'] = df_organized_us_20208['GENDER'].map(numerical_to_gender)
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,Female,2,5,2,.,4,26,1,2,2,.,12,.,1,3,1,1,4
1,30,Male,1,5,1,.,2,33,2,7,2,.,11,.,1,2,1,2,3
2,32,Male,1,4,1,2,1,33,2,7,2,.,7,.,1,2,1,2,7
3,30,Female,1,5,2,.,3,15,2,7,2,.,1,1,1,1,1,1,7
4,33,Female,1,5,.,1,1,33,1,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,Female,2,3,.,.,2,5,2,8,2,.,12,.,2,1,4,2,4
696,21,Male,1,4,1,1,2,33,2,2,2,.,2,1,2,1,1,2,7
697,31,Male,2,1,.,.,1,44,2,3,2,.,12,.,1,3,2,2,5
698,66,Female,1,4,1,.,1,50,1,5,2,.,1,2,1,2,7,2,5
699,75,Male,1,1,.,.,2,10,2,4,2,.,2,2,1,1,7,2,5

In [48]:
# Dictionary mapping numerical values to vaccine status
numerical_to_vaccine_status = {1: 'Yes', 2: 'No'}

# Replace numerical values with vaccine status
df_organized_us_20208.loc[:, 'VACCINE STATUS'] = df_organized_us_20208['VACCINE STATUS'].map(numerical_to_vaccine_status)
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,Female,No,5,2,.,4,26,1,2,2,.,12,.,1,3,1,1,4
1,30,Male,Yes,5,1,.,2,33,2,7,2,.,11,.,1,2,1,2,3
2,32,Male,Yes,4,1,2,1,33,2,7,2,.,7,.,1,2,1,2,7
3,30,Female,Yes,5,2,.,3,15,2,7,2,.,1,1,1,1,1,1,7
4,33,Female,Yes,5,.,1,1,33,1,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,Female,No,3,.,.,2,5,2,8,2,.,12,.,2,1,4,2,4
696,21,Male,Yes,4,1,1,2,33,2,2,2,.,2,1,2,1,1,2,7
697,31,Male,No,1,.,.,1,44,2,3,2,.,12,.,1,3,2,2,5
698,66,Female,Yes,4,1,.,1,50,1,5,2,.,1,2,1,2,7,2,5
699,75,Male,Yes,1,.,.,2,10,2,4,2,.,2,2,1,1,7,2,5

In [49]:
df_organized_us_20208['TRUST'].value_counts()

TRUST
5    281
4    244
3    114
1     33
2     24
.      4
Name: count, dtype: int64

In [50]:
# Dictionary mapping numerical values to trust in vaccines
numerical_to_trust_vaccine = {'1': 'Strongly disagree', '2': 'Disagree', '3': 'Neither agree nor disagree', '4': 'Agree', '5': 'Strongly agree', '.': 'n/a'}

# Replace numerical values with trust in vaccine labels in the TRUST column
df_organized_us_20208.loc[:, 'TRUST'] = df_organized_us_20208['TRUST'].astype(str).map(numerical_to_trust_vaccine)
df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,Female,No,Strongly agree,2,.,4,26,1,2,2,.,12,.,1,3,1,1,4
1,30,Male,Yes,Strongly agree,1,.,2,33,2,7,2,.,11,.,1,2,1,2,3
2,32,Male,Yes,Agree,1,2,1,33,2,7,2,.,7,.,1,2,1,2,7
3,30,Female,Yes,Strongly agree,2,.,3,15,2,7,2,.,1,1,1,1,1,1,7
4,33,Female,Yes,Strongly agree,.,1,1,33,1,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,Female,No,Neither agree nor disagree,.,.,2,5,2,8,2,.,12,.,2,1,4,2,4
696,21,Male,Yes,Agree,1,1,2,33,2,2,2,.,2,1,2,1,1,2,7
697,31,Male,No,Strongly disagree,.,.,1,44,2,3,2,.,12,.,1,3,2,2,5
698,66,Female,Yes,Agree,1,.,1,50,1,5,2,.,1,2,1,2,7,2,5
699,75,Male,Yes,Strongly disagree,.,.,2,10,2,4,2,.,2,2,1,1,7,2,5

In [51]:
# Dictionary mapping numerical values to gender labels
numerical_to_pos_cases= {'1':'Once', '2': 'Twice', '3': 'Three or more', '.': 'None'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:,'POS-CASES'] = df_organized_us_20208['POS-CASES'].astype(str).map(numerical_to_pos_cases)
# Dictionary mapping numerical values to gender labels
numerical_to_trust_gov = {'1': 'I have not changed how much I trust them', '2': 'Now trust them more', 3: 'I now trust them less', '.': 'NA'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:,'TRUST GOV'] = df_organized_us_20208['TRUST GOV'].astype(str).map(numerical_to_trust_gov)
# Dictionary mapping numerical values to gender labels
numerical_to_healthy = {'1': 'Very good', '2': 'Good', 3: 'Fair',  4: 'Poor', 5: 'Very Poor','.': 'NA'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:,'HEALTHY'] = df_organized_us_20208['HEALTHY'].map(numerical_to_healthy)
# Dictionary mapping numerical values to gender labels
    #numerical_to_state = {1: 'Once', 2: 'Twice', 3: 'Three or more'}
# Replace numerical values with gender labels in the GENDER column using .loc
    #df_organized_us_20208.loc[:,'STATE'] = df_organized_us_20208['STATE'].map(numerical_to_gender)

# Dictionary mapping numerical values to gender labels
numerical_to_rural = {1: 'Yes', 2: 'No'}
# Replace numerical values with gender labels in the GENDER column using .loc
df_organized_us_20208.loc[:,'RURAL'] = df_organized_us_20208['RURAL'].map(numerical_to_rural)

df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,Female,No,Strongly agree,Twice,NA,Poor,26,Yes,2,2,.,12,.,1,3,1,1,4
1,30,Male,Yes,Strongly agree,Once,NA,NaN,33,No,7,2,.,11,.,1,2,1,2,3
2,32,Male,Yes,Agree,Once,Now trust them more,NaN,33,No,7,2,.,7,.,1,2,1,2,7
3,30,Female,Yes,Strongly agree,Twice,NA,Fair,15,No,7,2,.,1,1,1,1,1,1,7
4,33,Female,Yes,Strongly agree,None,I have not changed how much I trust them,NaN,33,Yes,8,2,.,2,1,1,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,Female,No,Neither agree nor disagree,None,NA,NaN,5,No,8,2,.,12,.,2,1,4,2,4
696,21,Male,Yes,Agree,Once,I have not changed how much I trust them,NaN,33,No,2,2,.,2,1,2,1,1,2,7
697,31,Male,No,Strongly disagree,None,NA,NaN,44,No,3,2,.,12,.,1,3,2,2,5
698,66,Female,Yes,Agree,Once,NA,NaN,50,Yes,5,2,.,1,2,1,2,7,2,5
699,75,Male,Yes,Strongly disagree,None,NA,NaN,10,No,4,2,.,2,2,1,1,7,2,5

In [52]:
# Dictionary mapping numerical values to Hispanic
numerical_to_hispanic = {'1': 'Yes', '2': 'No'}
# Replace numerical values with Hispanic labels in the HISPANIC column using .loc
df_organized_us_20208.loc[:, 'HISPANIC'] = df_organized_us_20208['HISPANIC'].astype(str).map(numerical_to_hispanic)
df_organized_us_20208
# Dictionary mapping numerical values to Race
numerical_to_race = {'1': 'White', '2': 'Black or African American', '3': 'American Indian or Alaska Native', '4': 'Asian', '5': 'Pacific Islander', '.': 'N/A'}
# Replace numerical values with race labels in the RACE column using .loc
df_organized_us_20208.loc[:,'RACE'] = df_organized_us_20208['RACE'].astype(str).map(numerical_to_race)
# Dictionary mapping numerical values to Religion
numerical_to_religion = {'1': 'Protestant', '2': 'Roman Catholic', '3': 'Mormon', '4': 'Orthodox (such as Greek or Russian Orthodox', '5': 'Other or nondenominational Christian','6': 'Jewish', '7': 'Muslim', '8': 'Buddhist', '9': 'Hindu', '10': 'Atheist', '11': 'Agnostic', '12': 'Something else', '13': 'Nothing in particular'}
# Replace numerical values with religion labels in the RELIGION column using .loc
df_organized_us_20208.loc[:,'RELIGION'] = df_organized_us_20208['RELIGION'].astype(str).map(numerical_to_religion)
# Dictionary mapping numerical values to religious labels
numerical_to_religious = {'1': 'Yes', '2': 'No', '.': 'N/A'}
# Replace numerical values with religious labels in the RELIGIOUS column using .loc
df_organized_us_20208.loc[:,'RELIGIOUS'] = df_organized_us_20208['RELIGIOUS'].astype(str).map(numerical_to_religious)
# Dictionary mapping numerical values to religious labels
numerical_to_health_coverage = {'1': 'A plan purchased through an employer or union', '2': 'A plan that you or another family member buys on your own', '3': 'Medicare', '4': 'Medicaid or other state program', '5': 'TRICARE (formerly CHAMPUS), VA, or Military', '6': 'Alaska Native, Indian Health Service, Tribal Health Services', '7': 'Some other source', '.': 'N/A'}
# Replace numerical values with health coverage labels in the HEALTH COVERAGE column using .loc
df_organized_us_20208.loc[:,'HEALTH COVERAGE'] = df_organized_us_20208['HEALTH COVERAGE'].astype(str).map(numerical_to_health_coverage)



df_organized_us_20208

,AGE,GENDER,VACCINE STATUS,TRUST,POS-CASES,TRUST GOV,HEALTHY,STATE,RURAL,INCOME,HISPANIC,RACE,RELIGION,RELIGIOUS,HEALTH COVERAGE,POLITICS,WORK STATUS,ILLNESS,EDUCATION
0,42,Female,No,Strongly agree,Twice,NA,Poor,26,Yes,2,No,N/A,Something else,N/A,A plan purchased through an employer or union,3,1,1,4
1,30,Male,Yes,Strongly agree,Once,NA,NaN,33,No,7,No,N/A,Agnostic,N/A,A plan purchased through an employer or union,2,1,2,3
2,32,Male,Yes,Agree,Once,Now trust them more,NaN,33,No,7,No,N/A,Muslim,N/A,A plan purchased through an employer or union,2,1,2,7
3,30,Female,Yes,Strongly agree,Twice,NA,Fair,15,No,7,No,N/A,Protestant,Yes,A plan purchased through an employer or union,1,1,1,7
4,33,Female,Yes,Strongly agree,None,I have not changed how much I trust them,NaN,33,Yes,8,No,N/A,Roman Catholic,Yes,A plan purchased through an employer or union,2,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,21,Female,No,Neither agree nor disagree,None,NA,NaN,5,No,8,No,N/A,Something else,N/A,A plan that you or another family member buys ...,1,4,2,4
696,21,Male,Yes,Agree,Once,I have not changed how much I trust them,NaN,33,No,2,No,N/A,Roman Catholic,Yes,A plan that you or another family member buys ...,1,1,2,7
697,31,Male,No,Strongly disagree,None,NA,NaN,44,No,3,No,N/A,Something else,N/A,A plan purchased through an employer or union,3,2,2,5
698,66,Female,Yes,Agree,Once,NA,NaN,50,Yes,5,No,N/A,Protestant,No,A plan purchased through an employer or union,2,7,2,5
699,75,Male,Yes,Strongly disagree,None,NA,NaN,10,No,4,No,N/A,Roman Catholic,No,A plan purchased through an employer or union,1,7,2,5